@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
    --main-color: #3a6bc5;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
}
#content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
    transition: margin-left 300ms;
    margin-right: 250px;
}

#button-heading{
  color: #f8b739;
  content: '\25bg';
}
#button-heading::after{
  content: '\25cd';
}

.accordion__button{
display: block;
width: 100%;
padding: 15px;
border: none;
outline: none;
cursor: pointer;
background: #333;
color: #fff;
text-align: left;
transition: background 0.2s;
}

.accordion__button::after{
content: '\25be';
float: right;
transform: scale(1.5);
}

.accordion__button--active + .accordion__content{
  display: block;
}

.accordion__button--active{
  background: #555;
}

.accordion__button--active::active{
  content:'\25b4'
}

.accordion__content{
  /*
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s;
  */
  padding: 0 15px;
  font-family: sans-serif;
  background: #eee;
  display: none;
  overflow: auto;
}
.career{
  width: 650px;
  height:1300px;
}
/*accordion start*/
.accordion2__button{
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #423e3e;
  color: #fff;
  text-align: left;
  transition: background 0.2s;
  }
  
  .accordion2__button::after{
    content: '+';
    float: right;
    transform: scale(1.5);
    }
    
    .accordion2__button--active + .accordion__content2{
      display: block;
      background: #fff;
      position: absolute;
      left: 250px;
      top: 100px;
      overflow: auto;
    }
    
    .accordion2__button--active{
      background: #586b83;
    }
    
    .accordion__content2{
      /*
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.2s;
      */
      padding: 0 15px;
      font-family: sans-serif;
      background: #eee;
      display: none;
      overflow: auto;
    }
       
.tabs{
  position: absolute;
  top: 105%;
  left: 58%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 1300px;
  padding: 30px 20px;
  background: transparent;
  overflow: hidden;
  box-shadow: 0 0 15px 0 #3a6bc5;
}

.tabs .tab-header{
  float: left;
  width: 210px;
  height: 100%;
  border-right: 1px solid #111844;
  padding: 50px 0;
}

.text-white {
  background: #526c9e;
  position: absolute;
  left: 250px;
  top: 100px;
  display: none;
  overflow: auto;
}

.text-white--active::active{
  content:'\25b4'
}


/*.tabs .tab-header > div{
  height: 50px;
  width:200px;
  line-height: 100px;
  font-size: 16px;
  font-weight: 600;
  color: #111844;
  cursor: pointer;
  padding-left: 10px;
}

.accordion__button:hover{
  color: #ffbe00;
}

.tabs .tab-header div i{
  display: inline-block;
  width: 25px;
}

.text-white{
  color: #0d0d0e;
}

.tab-content{
  position: relative;
  height: 100%;
  overflow: hidden;
}

.tab-content > div{
  position: absolute;
  text-align: center;
  padding: 40px 20px;
  transition: all 500ms ease-in-out;
}

.tab-content > div.active{
  top: 0;
}

.tab-content > div h2{
  margin-top: 8px;
}

.tab-indicator{
  position: absolute;
  width: 5px;
  height: 50px;
  background: #ffbe00;
  left: 197px;
  top: 80px;
  transition: all 500ms ease-in-out;
}*/


#sidebar {
    min-width: 300px;
    max-width: 300px;
    background: var(--main-color);
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: width 300ms;
    transition: all 0.3s; }
    #sidebar.active {
      margin-left: -300px; }
    #sidebar .logo {
      display: block;
      width: 120px;
      height: 120px;
      margin: 0 auto; }
      #sidebar .logo span {
        display: block; }
    #sidebar ul.components {
      padding: 0; }
    #sidebar ul li {
      font-size: 16px; }
      #sidebar ul li > ul {
        margin-left: 10px; }
        #sidebar ul li > ul li {
          font-size: 14px; }
      #sidebar ul li a {
        text-decoration: none;
        padding: 10px 0;
        display: block;
        color: rgba(255, 255, 255, 0.8);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
        #sidebar ul li a:hover {
          color: #f8b739; }
      #sidebar ul li.active > a {
        background: transparent;
        color: #f8b739; }
    @media (max-width: 991.98px) {
      #sidebar {
        margin-left: -300px; }
        #sidebar.active {
          margin-left: 0; } }
  
  a[data-toggle="collapse"] {
    position: relative; }
  
  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  
  @media (max-width: 991.98px) {
    #sidebarCollapse span {
      display: none; } }
