<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
	<link rel="stylesheet" href="/static/help.css">
    <script src="https://kit.fontawesome.com/06252b95f2.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <ul class="list-unstyled components mb-5">
                    <div class="user-wrapper">
                        <img src="/images/adminpic.jpg" width="70px" height="70px" style="border-radius:50%;" alt="">
                        <div>    
                            <li>
                                <span>Youth Alive Kenya</span>
                            </li>  
                        </br>                 
                        <li>
                            <a href="" class="active"><span class="las la-igloo"></span>
                                <box-icon name='dashboard' type='solid' color='#eceaea'></box-icon>
                            <span>Dashboard</span></a>
                        </li>
                        <li>
                            <a href="/templates/sponsors.html"><span class="las la-igloo"></span>
                                <box-icon name='group' color='#eceaea'></box-icon>
                            <span>Sponsors</span></a>
                        </li>
                        <li>
                            <a href="/templates/volunteer.html"><span class="las la-igloo"></span>
                                <box-icon name='male-female' color='#eceaea'></box-icon>
                            <span>Volunteers</span></a>
                        </li>
                        <li>
                            <a href="/templates/events.html"><span class="las la-igloo"></span>
                                <box-icon name='calendar-plus' color='#eceaea'></box-icon>
                            <span>Events</span></a>
                        </li>
                        <li>
                            <a href="/templates/jobs.html"><span class="las la-igloo"></span>
                                <box-icon name='briefcase' type='solid' color='#eceaea' ></box-icon>
                            <span>Jobs</span></a>
                        </li>
                        <li>
                            <a href="/templates/resources.html"><span class="las la-igloo"></span>
                                <box-icon type='solid' name='guitar-amp' color='#eceaea'></box-icon>
                            <span>Resources</span></a>
                        </li>
                        <li>
                            <a href="/templates/mentorship.html"><span class="las la-igloo"></span>
                                <box-icon name='money-withdraw' color='#eceaea'></box-icon>
                            <span>Mentorship</span></a>
                        </li>
                        <li>
                            <a href="/templates/leadership.html"><span class="las la-igloo"></span>
                                <box-icon type='solid' name='medal' color='#eceaea'></box-icon>
                            <span>Leadership</span></a>
                        </li>
                        <li>
                            <a href="/templates/careerguidance.html"><span class="las la-igloo"></span>
                                <box-icon type='solid' name='book-reader' color='#eceaea'></box-icon>
                            <span>Career guidance</span></a>
                        </li>
                        <li>
                            <a href="/templates/servicemanager.html"><span class="las la-igloo"></span>
                                <box-icon type='solid' name='donate-heart' color='#eceaea'></box-icon>
                            <span>Service manager</span></a>
                        </li>
                        <li>
                            <a href="/templates/notifications.html"><span class="las la-igloo"></span>
                                <box-icon name='bell-ring' type='solid' color='#eceaea' ></box-icon>
                            <span>Notifications</span></a>
                        </li>
                        <li>
                            <a href="/templates/chat.html"><span class="las la-igloo"></span>
                                <box-icon name='message-rounded-dots' color='#eceaea' ></box-icon>
                                <span>Chat</span></a>
                        </li>
                        <li>
                            <a href="/templates/reporting.html"><span class="las la-igloo"></span>
                                <box-icon type='solid' name='user-voice' color='#eceaea'></box-icon>
                            <span>Reporting</span></a>
                        </li>
                        <li>
                            <a href="/templates/payment.html"><span class="las la-igloo"></span>
                                <box-icon name='dollar' color='#eceaea'></box-icon>
                            <span>Payment</span></a>
                        </li>
                        <li>
                            <a href="/templates/users.html"><span class="las la-igloo"></span>
                                <box-icon type='solid' name='user' color='#eceaea'></box-icon>
                            <span>Users</span></a>
                        </li>
                        <li>
                            <a href="/templates/financemanager.html"><span class="las la-igloo"></span>
                                <box-icon type='solid' name='data' color='#eceaea'></box-icon>
                            <span>Finance manager</span></a>
                        </li>
                        <li>
                            <a href="/templates/booking.html"><span class="las la-igloo"></span>
                                <box-icon name='calendar' type='solid' color='#f4eeee' ></box-icon>            
                                <span>Booking</span></a>
                        </li>
                        <li>
                            <a href="/templates/report.html"><span class="las la-igloo"></span>
                                <box-icon name='report' type='solid' color='#eceaea' ></box-icon>
                            <span>Reports</span></a>
                        </li>
                        <li>
                            <a href="/templates/contact.html"><span class="las la-igloo"></span>
                                <box-icon name='phone-call' type='solid' color='#eceaea' ></box-icon>
                            <span>Contacts</span></a>
                        </li>
                        <li>
                            <a href="/templates/help.html"><span class="las la-igloo"></span>
                            <box-icon name='help-circle' type='solid' color='#eceaea' ></box-icon>
                            <span>Help</span></a>
                        </li>
                        <li>
                            <a href="/templates/feedback.html"><span class="las la-igloo"></span>
                                <box-icon name='chat' color='#eceaea' ></box-icon>
                            <span>Feedback</span></a>
                        </li>
                        <li>
                            <a href="/templates/fundraising.html"><span class="las la-igloo"></span>
                                <box-icon name='money' color='#eceaea' ></box-icon>
                            <span>Fundraising</span></a>
                        </li>
                        <li>
                            <a href="/templates/about.html"><span class="las la-igloo"></span>
                                <box-icon name='info-circle' type='solid' color='#eceaea' ></box-icon>
                            <span>About Us</span></a>
                        </li>              
                </ul>
          
	        <div class="footer">
	        	<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | </a>
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.--></p>
	        </div>

	      </div>
        </nav>
<!--================ End Sidenav Area  =================-->
   

    <!--page content-->
    <div id="content" class="p-4 p-md-0">
        <!-- top nav start -->
        <div class="header">
            <h1 class="header-title">FAQ</h1>
            <p class="header-desc">Frequently Asked Questions</p>
            <!--search-->
            <div class="search">
            <input type="text" placeholder="Search...">
            <button class="searchbtn">Search</button>
           </div>
           </div> 
        <!-- top nav end -->
        
    <!--body start-->
    <div class="col-12" >  
   <!---faq section-->
   <div class="faq">
    <div class="col-5">
    <div class="faq-name">
        <h1 class="faq-header">Have <br> questions</h1>
        <img class="faq-img" src="/images/help.svg" >
    </div>
</div>
    <div class="col-7">
    <div class="faq-box">
        <div class="faq-wrapper">
            <input type="checkbox" class="faq-trigger" id="faq-trigger-1">
            <label class="faq-title" for="faq-trigger-1">What we offer?</label>
            <div class="faq-detail">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit nostrum natus, minus exercitationem in ratione reiciendis recusandae, neque veniam hic nihil ea deleniti sunt at ad! Mollitia beatae voluptatibus molestiae!Lorem</p>
            </div>
        </div>
     
        <div class="faq-wrapper">
            <input type="checkbox" class="faq-trigger" id="faq-trigger-2">
            <label class="faq-title" for="faq-trigger-2">What we offer?</label>
            <div class="faq-detail">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit nostrum natus, minus exercitationem in ratione reiciendis recusandae, neque veniam hic nihil ea deleniti sunt at ad! Mollitia beatae voluptatibus molestiae!Lorem</p>
            </div>
        </div>

        <div class="faq-wrapper">
            <input type="checkbox" class="faq-trigger" id="faq-trigger-3">
            <label class="faq-title" for="faq-trigger-3">What we offer?</label>
            <div class="faq-detail">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit nostrum natus, minus exercitationem in ratione reiciendis recusandae, neque veniam hic nihil ea deleniti sunt at ad! Mollitia beatae voluptatibus molestiae!Lorem</p>
            </div>
        </div>

        <div class="faq-wrapper">
            <input type="checkbox" class="faq-trigger" id="faq-trigger-4">
            <label class="faq-title" for="faq-trigger-4">What we offer?</label>
            <div class="faq-detail">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit nostrum natus, minus exercitationem in ratione reiciendis recusandae, neque veniam hic nihil ea deleniti sunt at ad! Mollitia beatae voluptatibus molestiae!Lorem</p>
            </div>
        </div>

        <div class="faq-wrapper">
            <input type="checkbox" class="faq-trigger" id="faq-trigger-5">
            <label class="faq-title" for="faq-trigger-5">What we offer?</label>
            <div class="faq-detail">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit nostrum natus, minus exercitationem in ratione reiciendis recusandae, neque veniam hic nihil ea deleniti sunt at ad! Mollitia beatae voluptatibus molestiae!Lorem</p>
            </div>
        </div>

        <div class="faq-wrapper">
            <input type="checkbox" class="faq-trigger" id="faq-trigger-6">
            <label class="faq-title" for="faq-trigger-6">What we offer?</label>
            <div class="faq-detail">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit nostrum natus, minus exercitationem in ratione reiciendis recusandae, neque veniam hic nihil ea deleniti sunt at ad! Mollitia beatae voluptatibus molestiae!Lorem</p>
            </div>
        </div>

        <div class="faq-wrapper">
            <input type="checkbox" class="faq-trigger" id="faq-trigger-7">
            <label class="faq-title" for="faq-trigger-7">What we offer?</label>
            <div class="faq-detail">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit nostrum natus, minus exercitationem in ratione reiciendis recusandae, neque veniam hic nihil ea deleniti sunt at ad! Mollitia beatae voluptatibus molestiae!Lorem</p>
            </div>
        </div>

        <div class="faq-wrapper">
            <input type="checkbox" class="faq-trigger" id="faq-trigger-8">
            <label class="faq-title" for="faq-trigger-8">What we offer?</label>
            <div class="faq-detail">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit nostrum natus, minus exercitationem in ratione reiciendis recusandae, neque veniam hic nihil ea deleniti sunt at ad! Mollitia beatae voluptatibus molestiae!Lorem</p>
            </div>
        </div>

        <div class="faq-wrapper">
            <input type="checkbox" class="faq-trigger" id="faq-trigger-9">
            <label class="faq-title" for="faq-trigger-9">What we offer?</label>
            <div class="faq-detail">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit nostrum natus, minus exercitationem in ratione reiciendis recusandae, neque veniam hic nihil ea deleniti sunt at ad! Mollitia beatae voluptatibus molestiae!Lorem</p>
            </div>
        </div>

        <div class="faq-wrapper">
            <input type="checkbox" class="faq-trigger" id="faq-trigger-10">
            <label class="faq-title" for="faq-trigger-10">What we offer?</label>
            <div class="faq-detail">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit nostrum natus, minus exercitationem in ratione reiciendis recusandae, neque veniam hic nihil ea deleniti sunt at ad! Mollitia beatae voluptatibus molestiae!Lorem</p>
            </div>
        </div>

        <div class="faq-wrapper">
            <input type="checkbox" class="faq-trigger" id="faq-trigger-11">
            <label class="faq-title" for="faq-trigger-11">What we offer?</label>
            <div class="faq-detail">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit nostrum natus, minus exercitationem in ratione reiciendis recusandae, neque veniam hic nihil ea deleniti sunt at ad! Mollitia beatae voluptatibus molestiae!Lorem</p>
            </div>
        </div>

        <div class="faq-wrapper">
            <input type="checkbox" class="faq-trigger" id="faq-trigger-12">
            <label class="faq-title" for="faq-trigger-12">What we offer?</label>
            <div class="faq-detail">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit nostrum natus, minus exercitationem in ratione reiciendis recusandae, neque veniam hic nihil ea deleniti sunt at ad! Mollitia beatae voluptatibus molestiae!Lorem</p>
            </div>
        </div>

        <div class="faq-wrapper">
            <input type="checkbox" class="faq-trigger" id="faq-trigger-13">
            <label class="faq-title" for="faq-trigger-13">What we offer?</label>
            <div class="faq-detail">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit nostrum natus, minus exercitationem in ratione reiciendis recusandae, neque veniam hic nihil ea deleniti sunt at ad! Mollitia beatae voluptatibus molestiae!Lorem</p>
            </div>
        </div>

        <div class="faq-wrapper">
            <input type="checkbox" class="faq-trigger" id="faq-trigger-14">
            <label class="faq-title" for="faq-trigger-14">What we offer?</label>
            <div class="faq-detail">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit nostrum natus, minus exercitationem in ratione reiciendis recusandae, neque veniam hic nihil ea deleniti sunt at ad! Mollitia beatae voluptatibus molestiae!Lorem</p>
            </div>
        </div>

        <div class="faq-wrapper">
            <input type="checkbox" class="faq-trigger" id="faq-trigger-15">
            <label class="faq-title" for="faq-trigger-15">What we offer?</label>
            <div class="faq-detail">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit nostrum natus, minus exercitationem in ratione reiciendis recusandae, neque veniam hic nihil ea deleniti sunt at ad! Mollitia beatae voluptatibus molestiae!Lorem</p>
            </div>
        </div>
    </div>
    </div>
   </div>
  
        </div>    
<!--End of page content-->
    </div>

</div>
</body>
</html>
